{% extends 'blog/base.html' %}

{% block title %}Contact Page{% endblock %}

{% block content%}

<div class="container">

    <div class="">
      <div class="our-team">
        <div class="picture">
          <img class="img-fluid" src="/headshot.png">
        </div>
        <div class="team-content">
          <h3 class="name">Eliyahu Masinter</h3>
          <h4 class="title">Python Developer</h4>
        </div>
        <ul class="social">
          <li><a href="https://linkedin.com/in/eliyahu-masinter" target="_blank" aria-hidden="true"><img src="/linkedin.png" width="25px"></a></li>
          <li><a href="https://github.com/eliyahumasinter/" target="_blank" aria-hidden="true"><img src="/github.png" width="25px"></a></li>
        </ul>
      </div>
    </div>

    <div>
        <h1>About this site</h1>
        <p>This site is built using Python and Django.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


        </p>
    </div>


</div>







{% endblock content %}
