{% extends 'blog/base.html' %}

{% block title %}Contact Page{% endblock %}

{% block content%}


<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Contact Me</h1>
            <br>
            <h4>Methods of Contact</h4>
            <ul>
                <li class="contact-item" ><b>Signal</b> - If you have Signal, this is the absolute best way to reach me. I can be reached at 202-738-0094.</li>
                <li class="contact-item"><b>Whatsapp</b> - WhatsApp is a great choice for those who don't care if China is reading your messages.
                                  If that is perferable, you can reach me at the same number (202-738-0094)</li>
                <li class="contact-item"><b>Email</b> - Email My email address is eliyahumasinter@gmail.com. </li>
            </ul>
        </div>
    </div>
</div>


{% endblock content %}
